<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="images/fatia-de-pizza.png">
    <link rel="stylesheet" href='/stylesheets/reset.css'>
    <link rel='stylesheet' href='/stylesheets/partials/header.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %> 
    <h4>Em construção</h4>
  </body>
</html>