<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="images/coffee-beans.png">
    <link rel="stylesheet" href='/stylesheets/reset.css'>
    <link rel="stylesheet" href='/stylesheets/index.css'>
    <link rel='stylesheet' href='/stylesheets/partials/header.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./partials/header') %> 

    <section class="about">
      
      <div class="tomou_cafe">
        <h2>Já tomou o seu cafézinho hoje?</h2>
        <h4>Independente do seu gosto, nós temos o café que você procura!</h4>
      
      
      <div class= type-coffe>
        <div class= "type-one">
        <img src="/images/whole-bean.png" alt="">
        </div>
        <div class= "type-two">
          <img src="/images/whole-bean.png" alt="">

        </div>
        <div class= "type-three">
          <img src="/images/whole-bean.png" alt="">

        </div>
      
      </div>
      </div>
      <div class="coffe">
      </div>
        <div class="coffe-img">
          <img src="/images/—Pngtree—flying cup of coffee with_5057949.png" alt="">
        </div>
        
      

    </section>
    <!-- <section class="banner">
      <div class="pedido">
        <a href="/cardapio">Faça seu pedido</a>
      </div>
    </section> -->
    <!-- <div class="body-index">
    <main>
      <section class="homepizza">
        <article class="homecarrinho">
          <img src="images/stupefied-handsome-male-driver-on-scooter-with-red-helmet-delivering-pizza.jpg" alt="">
          <h3>Pizza House</h3>
          <p>O melhor lugar pra sua fome de pizza. Bora pedir?</p>
          <div>
          <span> Peça no site</span>
        </div>
      </article>
      <article class="homecarrinho">
        <img src="images/contacless-delivery-service-during-quarantine-man-delivers-food-and-shopping-bags-during-insulation-emotions-of-deliveryman-isolated-on-yellow.jpg" alt="">
        <h3>Pizza Zap</h3>
        <p>Seu novo contatinho cheio de promos, ofertas e mais. Bora add?</p>
        <div>
          <span> Peça no zap</span>
        </div>
      </article>
    </section>
    <section>
      
    </section>
    </main>
  </div> -->
  </body>
</html>

